<!DOCTYPE html>
<html>
<head>
	<title>Reports</title>
	<link rel="stylesheet" type="text/css" href="view_by_date.css" />
</head>

<body>
<div class="page">
<div id = "warp">
	<div class="header">
		<h1>View By Date</h1>
	</div>
	
	<div class="content">
		<p>Date: 2014/11/30</p>
		<table>
			<tr>
				<th>Time</th>
				<th>Equipment</th>
				<th>Student</th>
				<th>Email</th>
			</tr>
			<tr class = "alt">
				<td>10:00 AM</td>
				<td>Canon 5D mkII</td>
				<td>Eric Burke</td>
				<td>emb382@tamu.edu</td>
			</tr>
			<tr>
				<td>5:00 PM</td>
				<td>Cold Light Green</td>
				<td>Eric Burke</td>
				<td>emb382@tamu.edu</td>
			</tr>
			<tr class = "alt">
				<td>7:30 PM</td>
				<td>Canon Lens 50mm f1.4</td>
				<td>Justin Sheehy</td>
				<td>theoracle@tamu.edu</td>
			</tr>
			<tr>
				<td>7:30 PM</td>
				<td>Canon Lens 50mm f1.4</td>
				<td>Justin Sheehy</td>
				<td>theoracleeeeeee@tamu.edu</td>
			</tr>
		</table>
		<div id = "back">
		<a href="http://127.0.0.1:3000/report/index">Back</a>
		</div>
	</div>
</div>
</div>
</body>
</html>