<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>


<%= button_tag "Print",:type => 'button',:class => "printBtn", :onclick => "" %>
<%= button_to "Back", items_path, :method => :get %>
